
<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">{{employee.preferredFullName}}</a>
                    </div>
                    <div class="desc">{{employee.employeeCode}}</div>
                    <div class="desc">{{employee.phoneNumber}}</div>
                    <div class="desc">{{employee.emailAddress}}</div>
                </div>
            </div>
        </div>
