<form  [formGroup]="login">
<p>
Email : <input formControlName="em">
<span *ngIf="login.get('em').errors">
<span *ngIf="login.get('em').errors['required']">Email required</span>
<span *ngIf="login.get('em').errors['minlength']">Minimum 5 characters required</span>
<span *ngIf="login.get('em').errors['maxlength']">Maximum 20 characters allowed</span>
<span *ngIf="login.get('em').errors['pattern']">Wrong pattern</span>
</span>
</p>
<p>
Password : <input type="password" formControlName="pass">
</p>
<button (click)="checklogin()">Login</button>
</form>

<img [src]="path" width="" height="">