<div class="col-lg-12">
<h1 class="text-primary">Edit Product</h1>
</div>

<div class="col-lg-12" *ngIf="product">
<form [formGroup]="editProductForm">
<div class="col-lg-12">
<label>Product Name </label>
<input class="form-control" formControlName="product_name">
</div>
<div class="col-lg-12">
<label>Product Cost </label>
<input class="form-control" formControlName="product_cost">
</div>

<div class="col-lg-12"><br>
<button class="btn btn-primary" (click)="updateProduct()">Update Product</button>
</div>
</form>
</div>