<html>
<head>

<script src="bower_components/angular/angular.min.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body ng-app="myApp"> 
<div class="container" ng-controller="MyController">
<form name="frm" novalidate autocomplete="false">
<p>
First Name : <input ng-model="first_name" name="fnm" class="form-control fnm" required ng-minlength='4' ng-maxlength='12'>
<div ng-show="frm.fnm.$dirty" style="color:red"> 
<div ng-show="frm.fnm.$error.required">First name required</div>
<div ng-show="frm.fnm.$error.minlength">Minimum 4 characters required</div>
<div ng-show="frm.fnm.$error.maxlength">Maximum length can be 12 characters</div>
</div>
</p>
<p>
Last Name : <input ng-model="last_name" name="lnm" class="form-control" required ng-minlength='4' ng-maxlength='12'>
<div ng-show="frm.lnm.$dirty"  style="color:red"> 
<div ng-show="frm.lnm.$error.required">Last name required</div>
<div ng-show="frm.lnm.$error.minlength">Minimum 4 characters required</div>
<div ng-show="frm.lnm.$error.maxlength">Maximum length can be 12 characters</div>
</div>
</p>
<p>
Email : <input type="email" ng-model="email" name="em" class="form-control" required>
<div ng-show="frm.em.$dirty"  style="color:red">
<div ng-show="frm.em.$error.required">Email is required</div>
<div ng-show="frm.em.$error.email">Email id invalid</div>
</div>
</p>

<p>
<button ng-disabled="frm.$invalid" class="btn btn-primary" ng-click="">Submit</button>
</p>
</form>
</div>



</body>
<script>
var app = angular.module('myApp',[]);

app.run(function($rootScope){

$rootScope.color = 'green';

});

app.controller('MyController',function($scope){
$scope.color = 'red';
});
</script>
</html>