<html>
<head>
<script src="bower_components/angular/angular.min.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="myController">
<p>
A : <input ng-model="a" class="form-control">
</p>

<p>
B : <input ng-model="b" class="form-control">
</p>

<p>
C : <input ng-model="c" class="form-control">
</p>

<p>
Sum : <span ng-bind="ar"></span>
</p>

<p>
<button ng-click="area()" class="btn btn-primary">Area</button>
</p>

</div>
</body>
<script>
var app = angular.module('myApp',[]);

app.service('Calculate',function(){

this.perimeter = function(a,b,c){
return (a+b+c)/2;
}
});

app.service('Triangle',function(Calculate){
this.sideArea = function(a,b,c){
var s = Calculate.perimeter(a,b,c);
return Math.sqrt(s*(s-a)*(s-b)*(s-c));
}

});
app.controller('myController',function($scope,Triangle){
$scope.area = function(){
$scope.ar = Triangle.sideArea(parseFloat($scope.a),parseFloat($scope.b),parseFloat($scope.c));
}
});
</script>
</html>
