<html>
<head>
<script src="bower_components/angular/angular.min.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="myController">
<p>
<input ng-model="bs" class="form-control">
</p>
<p>

Gross salary is : {{gs}}
</p>
<p>
<button ng-click="grossSal()" class="btn btn-primary">Gross Salary</button>
</p>

</div>
</body>
<script>
var app = angular.module('myApp',[]);

app.service('Hra',function(){
this.getHra = function(bs){
return (bs*10)/100;
}
});

app.service('Da',function(){

this.getDa = function(bs){
return (bs*5)/100;
}

});

app.service('Ta',function(){

this.getTa = function(bs){
return (bs*6)/100;
}

});

app.service('Salary',function(Hra,Da,Ta){

this.getSalary = function(bs){
return (bs+Hra.getHra(bs)+Da.getDa(bs)+Ta.getTa(bs)-800);
}

});

app.controller('myController',function($scope,Salary){

$scope.grossSal = function(){
var bs = $scope.bs;
$scope.gs=Salary.getSalary(parseFloat(bs));
}

});
</script>
</html>