<html>
<head>
<script src="bower_components/angular/angular.min.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body ng-app="myapp" ng-controller="mycontroller">
<div class="container">
<div class="row">

<div class="clg-lg-12">
<div class="form-group">
first no:<input class="form-control" ng-model="a" />
</div>
<div class="form-group">
second no:<input class="form-control" ng-model="b" />
</div>
<div class="form-group">
sum:{{sumresult}}
sub:{{subtract}} 
mul:{{multiply}} 
divd:{{divide}} 
</div>
<div class="form-group">
<button class="btn btn-primary" ng-click="sum()">sum</button>
</div>
</div>
</div>
</div>
</body>
<script>
var app=angular.module('myapp',[]);
app.service('calculator',function(){
this.add=function(a,b){
return (a+b);
}
 this.sub=function(a,b){ 
return (a-b);
 } 
 this.mul=function(a,b){ 
 return (a*b); 
 } 
 this.div=function(a,b){ 
 return (a/b); 
 } 
 
});
app.controller('mycontroller',function($scope,calculator){
$scope.sum=function(){
$scope.sumresult=calculator.add(parseInt($scope.a),parseInt($scope.b))
$scope.subtract=calculator.sub(parseInt($scope.a),parseInt($scope.b))
$scope.multiply=calculator.mul(parseInt($scope.a),parseInt($scope.b))
$scope.divide=calculator.div(parseInt($scope.a),parseInt($scope.b))
 } 


});








</script>