<html>
    <head>
        <script src="bower_components/angular/angular.min.js"></script>
    </head>
    <body>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>id</th>
                        <th>cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" ng-model="name"></td>
                        <td><input type="number" ng-model="id"></td>
                        <td><input type="number" ng-model="cost"></td>
                        <td><button type="button" ng-click="addToTable()"> Add to table</button></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>id</th>
                        <th>cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in products">
                        <td>{{x.t1}}</td>
                        <td>{{x.t2}}</td>
                        <td>{{x.t3}}</td>
                        <td><button ng-click="remove($index)">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>      
    </body>
</html>