<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="myapp" ng-controller="myController">
<p>
First Number : <input ng-model="a"> {{a}}
</p>
<p>
Second Number : <input ng-model="b"> {{b}}
</p>
<p>
<button ng-click="addNumbers()">Add Numbers</button>
</p>
</body>
<script>
var app = angular.module('myapp',[]);
app.service('Calculator',function(){

this.add = function(a,b){
return (a+b);
}


});

app.controller('myController',function($scope,Calculator){

$scope.addNumbers = function(){
var ans = Calculator.add(parseInt($scope.a),parseInt($scope.b));
alert('the sum is '+ans)
}

});
</script>
</html>

