<div class="col-lg-12">
<h2 class="text-primary">Add Product</h2>
</div>
<div class="col-lg-12">
<div class="form-group">
Name : <input class="form-control" ng-model="product.product_name">
</div>
<div class="form-group">
Cost : <input class="form-control" ng-model="product.product_cost">
</div>
<div class="form-group">
Brand : <input class="form-control" ng-model="product.product_brnd">
</div>
<div class="form-group">
<button class="btn btn-success" ng-click="addProduct()">Add Product</button>
</div>
</div>