<div>
				<div class="form-group">
				Id : 
				<input class="form-control" ng-model="employee.id">
				</div>
				<div class="form-group">
				Name : 
				<input class="form-control" ng-model="employee.name">
				</div>
				<div class="form-group">
				Phone : 
				<input  class="form-control" ng-model="employee.phone">
				</div>
				<div class="form-group">
				Email : 
				<input rows="4" cols="20" class="form-control" ng-model="employee.email">
				</div>
				<div class="form-group">
				<button class="btn btn-primary" ng-click="adddir()">Add Employee</button>
				</div>
</div>