<div>
				<div class="form-group">
				Id : 
				<input class="form-control" ng-model="employee.id">
				</div>
				<div class="form-group">
				Name : 
				<input class="form-control" ng-model="employee.employee_name">
				</div>
				<div class="form-group">
				Salary : 
				<input  class="form-control" ng-model="employee.employee_salary">
				</div>
				<div class="form-group">
				Age : 
				<input rows="4" cols="20" class="form-control" ng-model="employee.employee_age">
				</div>
				<div class="form-group">
				<button class="btn btn-primary" ng-click="adddir()">Add Employee</button>
				</div>
</div>