<html>
<head>
<script src="bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="myapp">
	

<div ng-controller="myctrl">
	A:<input ng-model="a">
	B:<input ng-model="b">
	C:<input ng-model="c">
	Area:<span ng-bind="arr"></span>
	<button ng-click="calarea()">calc</button>
</div>


</body>
<script>
var app = angular.module('myapp', []);
app.controller("myctrl", function ($scope){

$scope.calarea = function(){

var a = parseFloat($scope.a);
var b = parseFloat($scope.b);
var c = parseFloat($scope.c);

var s = ( a+b+c ) / 2;

$scope.arr = Math.sqrt(s*(s-a)*(s-b)*(s-c));


}



});


</script>
</html>