
<!--<table>
<th>Name</th>
<tr *ngFor="let x of movies">
<td>{{x}}</td>
</tr>

</table>-->




<!--<h1>Movie</h1>
<form class="form-control" >
  <p>
Movie Name: <input class="form-control" [value]="movie_name">
  </p>
    <p>
Genre: <input class="form-control" [value]="movie_genre">
  </p>
    <p>
Release Date: <input class="form-control" [value]="release_date">
  </p>
    <p>
Actor: <input class="form-control" [value]="actor">
  </p>
    <p>
Actress: <input class="form-control" [value]="actress">
  </p>
    <p>
Production cost: <input class="form-control" [value]="prod_cost">
  </p>
    <p>
Money earned: <input class="form-control" [value]="money_earned">
  </p>
  <p>
Image: <input class="form-control" [value]="image">
  </p>
</form>-->
