<html>
    <head>
        <script src="bower_components/angular/angular.min.js"></script>
    </head>
    <body>
        <div>
			<form  name="frm" novalidate autocomplete="false">
				<p>
					Phone number : <input type="number" ng-model="phno" name="fnm"  required ng-minlength="10" ng-maxlength="10">
					<div ng-show="frm.fnm.$dirty" style="red">
						<div ng-show="frm.fnm.$error.$required">Field required</div>
						<div ng-show="frm.fnm.$maxlength">Max limit is 10</div>
						<div ng-show="frm.fnm.$minlength">Min length is 10</div>
					</div>
				</p>
				<p>
					Email : <input type="email" ng-model="email" name="em"  required ng-minlength="10" ng-maxlength="10">
					<div ng-show="frm.em.$dirty" style="red">
						<div ng-show="frm.em.$error.$required">Field required</div>
						<div ng-show="frm.em.$email">Invalid email</div>
					</div>
				</p>
			</form>
        </div>      
    </body>
</html>