<style>
body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7 !important;
}

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}
</style>
<div class="container">
<app-movie [id]="0" (movieDetail)="showMoviewDetail($event)"></app-movie>
<app-movie [id]="1" (movieDetail)="showMoviewDetail($event)"></app-movie>
<app-movie [id]="2" (movieDetail)="showMoviewDetail($event)"></app-movie>
<!--<app-form-validation></app-form-validation>-->
<!--<app-reactive-validation></app-reactive-validation>-->
<!--<app-register></app-register>-->
<!--<app-reactive2></app-reactive2>-->
</div>
<p>
<!-- {{movie | json}} -->

</p>
<div class="container" style=" background-color: #f7f7f7 !important ;">
	<div class="row">
	</div>
	<h1>Movie Details</h1>
    <hr>
            <div class="row row-margin-bottom">
			<div class="col-md-2"></div>
            <div class="col-md-8 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src="{{movie?.movie_image}}">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                {{movie?.movie_name}}
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
								<p>
                                Movie Name : {{movie?.movie_name}}
								</p>
								<p>
								Movie Category : {{movie?.movie_gener}}
								</p>
								<p>
								Movie Release Date : {{movie?.movie_releasedate}}
								</p>
								<p>
								Actor : {{movie?.movie_actor}}
								</p>
								<p>
								Actress : {{movie?.movie_actress}}
								</p>
								<p>
								Producton Cost : {{movie?.movie_productioncost}}
								</p>
								<p>
								Movie Money : {{movie?.movie_money}}
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            
        </div>
</div>