<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container">
<div class="col-lg-12">
<!--<a href="/employee" class="btn btn-default">Employee</a>
<a href="/product" class="btn btn-default">Product</a>-->
<!--<a routerLink="/employee" class="btn btn-default">Employee</a>
<a routerLink="/product" class="btn btn-default">Product</a>
<a routerLink="/login">Login</a>
<a routerLink="/employees">Compant details</a>-->
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>  
  <div class="col-lg-12">
  <ul class="nav nav-tabs">
  <li role="presentation">
  <a routerLink="/employee">
  Employee
  </a>
  </li>
  <li role="presentation">
  <a routerLink="/product">
  Product
  </a>
  </li>
  <li role="presentation">
  <a routerLink="/employees">
  Compant details
  </a>
  </li>
  <li role="presentation">
  <a routerLink="/promises">
  Promises
  </a>
  </li>
  <li role="presentation">
  <a routerLink="/observe">
   Observable
  </a>
  </li>
  </ul>
  </div>
  
  <div class="col-lg-12">
  <router-outlet></router-outlet>
  </div>

<div class="col-lg-6">
<router-outlet></router-outlet>
<!--<app-pipes></app-pipes>-->
<!--<app-fruits></app-fruits>-->
<!--<app-products></app-products>-->
<!--<app-triangle></app-triangle>-->
<!--<app-add></app-add>-->
<!--<app-services></app-services>-->
<!--<app-reactive2></app-reactive2>-->
<!--<app-reative-approach></app-reative-approach>-->
<!--<app-template-approach></app-template-approach>-->
<!--<app-login></app-login>-->
<!--<app-employee></app-employee>-->
<!-- custom property binding -->
<!--<app-product></app-product>
<app-property-binding [email]="'mohan@gmail.com'" (employedetail)="shwEmployeeDetail($event)" (clickPankaj)="showMessage($event)" [last_name]="'kattapa'"></app-property-binding>
{{empr?.first_name}}<br>
{{empr?.last_name}}<br>
{{empr?.email}}<br>
<p>
<app-property-binding [id]="'0'" (productDetail)="showSpecificDish($event)"></app-property-binding>
</p>
<p>
<app-property-binding [id]="'1'" (productDetail)="showSpecificDish($event)"></app-property-binding>
</p>
<p>
<app-property-binding [id]="'2'" (productDetail)="showSpecificDish($event)"></app-property-binding>
</p>
<app-property-binding-2></app-property-binding-2>
-->
</div>

<div class="col-lg-6">

<!--<img src="{{product?.product_img}}" width="200" class="img-circle" height="200" align="left">
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{product?.product_name}}</b>
</p>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{product?.product_cost}}</b>
</p>-->
</div>


<div class="col-lg-12">
<!--<app-description></app-description>-->
</div>
</div>



