
<div class="col-lg-6">
            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="{{product.image}}">
                </div>
                <div class="info" ng-show="showstt">
                    <div class="title">
                        <h1>{{product.title}}</h1>                    
					<h2>{{product.price | currency}}</h2>
					<h3>{{product.posted | date}}</h3>
					<p>{{product.description}}</p>
					</div>
                </div>
				<div ng-show="!showstt">
				<div class="form-group">
				Title : 
				<input class="form-control" ng-model="product.title">
				</div>
				<div class="form-group">
				Price : 
				<input class="form-control" ng-model="product.price">
				</div>
				<div class="form-group">
				Description : 
				<textarea rows="4" cols="20" class="form-control" ng-model="product.description"></textarea>
				</div>
				<div class="form-group">
				<button class="btn btn-primary" ng-click="updatedir(product)">Update</button>
				</div>
				</div>
				
				
                <div class="bottom">
				    <button class="btn btn-primary" ng-click="showstt=true"><span class="glyphicon glyphicon-eye-open"></span></button>
                    <button class="btn btn-primary" ng-click="showstt=false"><span class="glyphicon glyphicon-edit"></span></button>
					<button class="btn btn-primary" ng-click="deletedproduct(product)"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
				

            </div>
</div>
