<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
<p>
a : <input ng-model="a">
</p>
<p>
b : <input ng-model="b">
</p>
<p>
The sum is {{su}}
</p>
<p>
<button ng-click="sum()">Sum</button>
</p>
</body>
<script>
var app = angular.module('myApp',[]);
app.factory('Calculator',function(){
var obj=[];
obj.add = function(a,b){
return (a+b);
}
return obj;
});

app.controller('myController',function($scope,Calculator){
$scope.sum = function(){
$scope.su = Calculator.add(parseInt($scope.a),parseInt($scope.b));
}
});

</script>
</html>