
		<div ng-repeat="product in products | filter : key" class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="{{product.image}}">
                </div>
				
                <div class="info">
                    <div class="title">
                        <h1><a href="#productinfo/{{product.id}}">{{product.title}}</a></h1>
                    </div>
                    <p>{{product.description}}</p>
					<p>Cost : {{product.price | currency}}</p>
					<p>{{product.posted | date}}</p>
					
					<h2>Contact</h2>
					<p>
						Name : {{product.contact.name}}				
					</p>
					<p>
						Email : {{product.contact.email}}				
					</p>
					<p>
						Phone : {{product.contact.phone}}				
					</p>
                </div>
                <div class="bottom">
                    <p>
					<button class="btn btn-danger" ng-click="show_info=true">
					Add To Cart
					</button>
					</p>
                </div>
    </div></div>