Contaent values are :
<p>
  Id : <input [(ngModel)]="id">
</p>
<p>
  Name : <input [(ngModel)]="nm">
</p>
<p>
  Cost : <input [(ngModel)]="ct">
</p>
<p>
  <button (click)="addProduct()">Add Product</button>
</p>
<p>
First Number : <input [(ngModel)]="first_number"><br>
Second Number : <input [(ngModel)]="second_number"><br>
Sum is {{sum}}    <br>
<button (click)="calculateSum()">Sum </button>
</p>
<!--
<p>
Name is {{product_name}}
Name : <input [value]="product_name">    
<br>
    <button (click)="clickMe()">Click Me</button>
    <br>
Cost is {{product_cost}}    
</p>

    Directive Binding<br>
    <div [ngClass]="{myDStyle : true}">My Directive property binding</div><br>
<div [ngStyle]="{'color' : 'green'}">My Directive property binding</div>

<div>
    Personal Information
<p>
    Name is {{name}}
Name : <input [(ngModel)]="name"> 
    </p>
   <p>
Cost : <input [value]="cost">
    </p>
    <p>
Brand : <input [value]="brand">
    </p>
    <p>
    
    <button (click)="showMe()">Show Me</button>
    </p>
    
    <p>
    <span *ngIf="stt">All is if condition here</span><br>
    <button (click)="showM()">Show M</button>
    </p>
    <p>
    Custom Directive<br>
        <span appEffect [customin]="'red'" [customout]="'green'">The Custom directive is here</span>
    </p>
    
    Switch in Angular 2<br>
        <div [ngSwitch]="swval">
            <p *ngSwitchCase="100">
            100 value is there
            </p>
            <p *ngSwitchCase="200">
            200 value is there
            </p>
            
    </div>
        
        
</div>

-->