<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">

<div ng-repeat="x in doctors">
<doctor-info doc="x" deldoc="delDoctor(x)"></doctor-info>
</div>

</body>
<script>
var app = angular.module('myApp',[])

app.directive('doctorInfo',function(){
return {
scope : {
doc : '=',
deldoc : '&'
},
template : `
<p>
{{doc.id}}<br>
{{doc.name}}<br>
{{doc.dept}}
</p>
<p>
<button ng-click="">Edit</button> 
<button ng-click="deldoc()">Delete</button>
</p>

`
}
});
app.controller('myController',function($scope){
$scope.doctors = [
{id : 1, name : "Asutosh",dept : 'ENT'},
{id : 2, name : "Ravi",dept : 'CArdio'},
{id : 3, name : "Chandan",dept : 'Bone'},
];

$scope.delDoctor = function(doc){

$scope.doctors.splice(doc,1);

}


});

</script>
</html>