<html>
<head>
<script src="./bower_components/angular/angular.min.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
<style>
.doc{
width : 500px;
height : 200px;
margin : 50px;
padding : 20px;
border : 1px solid red;
border-radius : 10px;
}
</style>
</head>
<body ng-app="" ng-init="products = [
{
id : 1,
name : 'Samsung mobile',
qty : 1500,
cost : 10000,
weight : 50,
manufacturingDate : '2017/01/03',
distributeres : [
{
name : 'Mohan',
contact : 8732663223,
address : {
address_1 : 'add 1',
address_2 : 'add 2',
city : 'Banglore',
state : 'Karnataka',
country : 'India',
zip : '834002'
}
}
]
},


{
id : 2,
name : 'Apple mobile',
qty : 1900,
cost : 70000,
weight : 20,
manufacturingDate : '2017/01/03',
distributeres : [
{
name : 'Sohan',
contact : 8732663223,
address : {
address_1 : 'add 1',
address_2 : 'add 2',
city : 'Banglore',
state : 'Karnataka',
country : 'India',
zip : '834002'
}
},
{
name : 'Rohan',
contact : 8732663223,
address : {
address_1 : 'add 1',
address_2 : 'add 2',
city : 'Banglore',
state : 'Karnataka',
country : 'India',
zip : '834002'
}
}
]
}

]">

<div class="container">
<div class="cool-lg-12">
<table class="table">
<th>Name</th><th>Cost</th><th>Date</th><th>Distributes</th>
<tr ng-repeat="x in products">
<td>{{x.name}}</td>
<td>{{x.cost}}</td>
<td>{{x.manufacturingDate}}</td>
<td>
<ul>
<li ng-repeat="y in x.distributeres">{{y.name}} | {{y.address}}</li>

</ul>
</td>
</tr>
</table>

</div>
</div>


</body>

</html>