<div class="panel panel-default">
<div class="panel-heading">
<h1 class="panel-title">{{movie.title}}</h1>
</div>
<div class="panel-body">
<div class="col-lg-5">
<img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="thumbnail">
</div>

<div class="col-lg-7">
<ul class="group-list">
<li class="group-list-item" ng-repeat="x in movie.genres">
{{x.name}}
</li>
</ul>
<p>
{{movie.release_date}}
</p>
<p>
<a href="{{movie.homepage}}" class="btn btn-success" target="_blank">Go To Website</a>
</p>
</div>
<div class="col-lg-12">
{{movie.overview}}
</div>

</div>


</div>