<html>
<head>
<script src="bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
a:<input ng-model="radius"><br>
area:{{area}}<br>
circumferance:{{circumferance}}<br>
<button ng-click="calculate()">Calculate</button>
</body>
<script>
var app=angular.module('myApp',[]);
app.controller('myController',function($scope){

$scope.calculate=function(){
var r=parseFloat($scope.radius);

$scope.area=3.14159*r*r;
$scope.circumferance=2*3.14159*r;
}
});

</script>
</html>