<html>
<head>
<script src="../bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="myapp">
<div ng-controller="myctrl">
    <label>Enter all three sides:</label>
    <input type="text" ng-model="side1">
    <input type="text" ng-model="side2">
    <input type="text" ng-model="side3">

    <hr>
    <span>Area is: {{sidearea}}</span>
    <span>Perimeter is: {{sideperimeter}}</span>

    <button ng-click="docalculations()">calculate area and parameter</button>
	

</div>

</body>
<script>
var app = angular.module('myapp', []);

app.service("TriangleSupport", function(){
    this.svalue = function(x, y, z)
    {
        return (parseFloat(x)+parseFloat(y)+parseFloat(z))/2;
    }
});

app.service("triangle", function(TriangleSupport){
    this.area = function (x, y, z)
    {
        
        return TriangleSupport.svalue(x,y,z);
    }

    this.peri = function (x, y, z)
    {
        return parseInt(x)+parseInt(y)+parseInt(z);
    }
});
app.controller("myctrl", function ($scope, triangle){
        
    $scope.docalculations = function (){
    //alert('Hello')
        $scope.sidearea = triangle.area($scope.side1, $scope.side2, $scope.side3);
        $scope.sideperimeter = triangle.peri($scope.side1, $scope.side2, $scope.side3);

    }
   
})
</script>
</html>