<div class="row">
	<div class="col-lg-6">
		
	</div>
	<div class="col-lg-6">
		<form name="contactForm" autocomplete="true">
		<label>Contact Id</label>
		<input type="" name="" ng-model="contact.id" class="form-control" ng-readonly="contactid">
		<br>
		<label>Name</label>
		<input type="" name="" ng-model="contact.name" class="form-control">
		<br>
		<label>Email</label>
		<input type="email" name="email" ng-model="contact.email" class="form-control">
		<div ng-show="contactForm.email.$dirty">
			<div ng-show="contactForm.email.$error.email">Not a valid email address</div>
			 
		</div>
		<br>
		<label>Mobile</label>
		<input type="" name="mobile" ng-model="contact.mobile" class="form-control" ng-maxlength="12" ng-minlength="10" required>
		<div ng-show="contactForm.mobile.$dirty && contactForm.mobile.$invalid">
			<div ng-show="contactForm.mobile.$error.maxlength">Mobile no is more than 12</div>
			<div ng-show="contactForm.mobile.$error.number">Not a valid mobile no</div>
			<div ng-show="contactForm.mobile.$error.minlength">Mobile no is less than 10</div>
			<div ng-show="contactForm.mobile.$error.required">Mobile no is required</div>
		</div>
		<br>
		
		<button ng-hide="btn_contact" ng-click="add()" class="button" ng-disabled="contactForm.mobile.$dirty && contactForm.mobile.$invalid">Add New Contact</button>
		<button ng-show="btn_contact" ng-click="updateContact(contact)" class="button">Update Contact</button>

	</form>
	</div>

	
</div>