<div class="row">
	<div class="col-lg-6">
		
	</div>
	<div class="col-lg-6">
		<form>
		
		<label>Name</label>
		<input type="" name="" ng-model="feedback.name" class="form-control">
		<br>
		<label>Subject</label>
		<input type="text" name="" ng-model="feedback.subject" class="Form-control">
		<br>
		<label>Message</label>
		<textarea ng-model="feedback.message" rows="10" cols="40"></textarea>
		<button ng-hide="btn_feedback" ng-click="add()" class="button">Post Feedback</button>

	</form>
	</div>

	
</div>