<form>
	<label>Enter Product Id</label>
	<input type="" name="" ng-model="id">
	<br>
	<label>Enter Product Name</label>
	<input type="" name="" ng-model="name">
	<br>
	<label>Select Product Category</label>
	<select ng-model="category">
		<option value="shirt">Shirt</option>
		<option value="Trousers">Trousers</option>
		<option value="Tshirt">Tshirt</option>
		<option value="Sorts">Sorts</option>
	</select>
	<br>
	<label>Select Image</label>
	<input type="" name="" ng-model="image">
	<button ng-click="add()" class="button">Insert Item</button>

</form>