<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div ng-app="myApp" ng-controller="myController">
		<div ng-show="disp">
		<div class="row">
		<input type="" name="" class="form-control" ng-model="search">
		<select ng-model="limitto" ng-change="changeLimit()">
			<option value="10">10</option>
			<option value="20">20</option>
			<option value="30">30</option>
		</select>
		</div>
			<table>
				<th>
					<th ng-click="orderIt('userId')">UserId</th>
					<th ng-click="orderIt('title')">Title</th>
					<th ng-click="orderIt('body')">Body</th>
				</th>
				<tr ng-repeat="d in resdetails | filter:search | limitTo: limitNo | orderBy: orderKey:reverse">
					<td>{{d.userId}}</td>
					<td>{{d.title}}</td>
					<td>{{d.body}}</td>
				</tr>
			</table>
		</div>
		<div ng-hide="disp">Loading</div>
	</div>
	<script type="text/javascript">
		var app=angular.module("myApp",[]);
		app.controller("myController",function($scope,$http){
			$scope.disp=false;
			$scope.reverse=true;
			$scope.changeLimit=function(){
				$scope.limitNo=$scope.limitto;
			}
			$scope.orderIt=function(p){
				$scope.reverse = ($scope.orderKey === p) ? !$scope.reverse : false;
				$scope.orderKey=p;

			}
			$http.get('https://jsonplaceholder.typicode.com/posts')
			.then(function(response){
				$scope.disp=true;
				console.log(response);
				$scope.resdetails=response.data;
				$scope.limitNo=response.data.length;
			});
		});
	</script>
</body>
</html>