<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
<p>
First No : <input ng-model="a">
</p>
<p>
Second No : <input ng-model="b">
</p>
<p>
sum is  {{sum}}
</p>
<p>
<button ng-click="add()">Sum</button>
</p>
</body>
<script>
var app = angular.module('myApp',[]);
app.controller('myController',function($scope){

$scope.add = function(){
$scope.sum = parseInt($scope.a) + parseInt($scope.b);
}

});
</script>
</html>