<div class="form-group">
<h1>Login</h1>
</div>
<form name="frm" novalidate>
<div class="form-group">
<label for="username">Username </label>
<input class="form-control" name="username" ng-model="username" required>
<p ng-show="frm.username.$dirty && frm.username.$error.required" class="error">Please enter username</p>
</div>

<div class="form-group">
<label for="username">Password </label>
<input type="password" class="form-control" name="password" ng-model="password" required>
<p ng-show="frm.password.$dirty && frm.password.$error.required" class="error">Please enter password</p>
</div>

<div class="form-group">
<button ng-disabled="frm.$invalid" class="btn btn-primary" ng-click="checkLogin()">Login</button>
</div>
</form>