
<div class ="main-container" style="margin-top:100px;" ng-controller="SachinController">

<div class=" highlight" style="margin-left:0;">
<h2>{{name}}</h2>
	<div class="row">
  
		
        <img src ="http://davidnaylor.org/temp/thunderbird-logo-200x200.png" /> 
        <ul>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
           
        </ul>
        </div>
        <div class="row">
        <p>Morbi laoreet ipsum sem, eu condimentum ante efficitur vel.
        Donec at nibh risus. Nam mollis nulla eget scelerisque facilisis. 
        Suspendisse sit amet condimentum dolor. Vestibulum euismod congue mi
        pulvinar dignissim. </p>
        <button class = "btn btn-primary">Buy Now</button>
       <button class = "btn btn-warning" >Read More</button>
        </div>
    </div>
	</div>