
<div class="col-lg-12">
<div class="pull-right">
<a class="btn btn-primary" href="#addProduct">Add Product</a>
</div>

</div>
<div class="col-lg-12" style="margin-top:50px;" ng-init="products = getProducts()">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

		<div ng-repeat="x in products | filter : key | orderBy : 'posted' : sortReverse" class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="{{x.image}}">
                </div>
                <div class="info">
                    <div class="title">
                        <a href="#productView/{{$index}}">{{x.title}}</a>
                    </div>
                    <div class="desc">{{x.price | currency}}</div>
                    <div class="desc">{{x.posted | date : 'fullDate'}}</div>
                    <div class="desc">{{x.description}}</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>


</div>