   
		<div class="row">
			<div class="col-md-8">				
				<div class="panel panel-default  panel--styled">
					<div class="panel-body">
						<div class="col-md-12 panelTop">	
							<div class="col-md-4">	
								<img class="img-responsive" src="{{product.image}}" alt=""/>
							</div>
							<div class="col-md-8">	
								<h2>{{product.title}}</h2>
								<p>{{product.}}</p>
							</div>
						</div>
						
						<div class="col-md-12 panelBottom">
							<div class="col-md-4 text-descriptioncenter">
								<a href="#shopping" class="btn btn-lg btn-add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span>   Add to Cart</a>						
							</div>
							<div class="col-md-4 text-left">
								<h5>Price <span class="itemPrice">{{product.price | currency}}</span></h5>
							</div>
							<div class="col-md-4">
								<div class="stars">
								 <div id="stars" class="starrr"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    