<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
<div class="container">

<form name="frm">
<div class="row">
<div class="col-lg-12">
<input ng-model="key" class="form-control">
</div>
</div>
<div class="row">
<div class="col-lg-12">
<table class="table table-stripped">
<th><a href="#" ng-click="sortType='id';sortReverse = !sortReverse">Id 
<i ng-show="sortReverse" class="fa fa-caret-up"></i>
<i ng-show="!sortReverse" class="fa fa-caret-down"></i>
</a></th>
<th><a href="#" ng-click="sortType='title';sortReverse = !sortReverse">Title
<i ng-show="sortReverse" class="fa fa-caret-up"></i>
<i ng-show="!sortReverse" class="fa fa-caret-down"></i>
</a>

</th><th>Description</th>
<tr ng-repeat="x in classifieds | filter : key | limitTo : limit | orderBy : sortType : sortReverse">
<td>{{x.id}}</td>
<td>{{x.title | uppercase}}</td>
<td>Rs {{x.price | number}}</td>
</tr>
</table>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<select ng-model="limit" class="form-control">
<option value="1">1</option>
<option value="3">3</option>
<option value="5">5</option>
</select>
</div>
</div>
<div class="col-lg-12">
{{classifieds | json}}
</div>
</form>
</body>
<script>
var app = angular.module('myApp',[]);
app.controller('myController',function($scope,$http){
$scope.sortReverse = false;
$http.get('http://sooryprojects.com/key/index.json').then(function(res){
console.log('The record is ');
console.log(JSON.stringify(res));
$scope.classifieds = res.data;
});

});
</script>
</html>