<html>
<head>
<script src="bower_components/angular/angular.min.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body ng-app="myApp" ng-controller="myController">
<div class="container">
<div class="col-lg-12">
<p>
a : <input ng-model="a" class="form-control">
</p>
<p>
b : <input ng-model="b" class="form-control">
</p>
<p>
Sum: <span ng-bind="sum"></span>
</p>
<p>
Substraction: <span ng-bind="subsr"></span>
</p>
<p>
Multiply: <span ng-bind="multiply"></span>
</p>
<p>
Divide: <span ng-bind="divide"></span>
</p>
<p>
Modulo: <span ng-bind="modulo"></span>
</p>
<p>
<button ng-click="addArea()" class="btn btn-primary">Calculate</button>
</p>
</div>
</div>
</body>
<script>
var app = angular.module('myApp',[]);
app.service('Calculator',function(){
this.sum=function(a,b)
{
				return a+b;
}
this.substraction=function(a,b)
{

				return a-b;
}
this.multiply=function(a,b)
{
				return a*b;
}
this.divide=function(a,b)
{
				return a/b;
}
this.modulo=function(a,b)
{
				return a%b;
}
});

app.controller('myController',function($scope,Calculator){

$scope.addArea = function(){
var a=parseFloat($scope.a);
var b=parseFloat($scope.b);
$scope.sum=Calculator.sum(a,b);
$scope.subsr=Calculator.substraction(a,b);
$scope.multiply=Calculator.multiply(a,b);
$scope.divide=Calculator.divide(a,b);
$scope.modulo=Calculator.modulo(a,b);
}



});
</script>
</html>