<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<app-mainlink></app-mainlink>

<!--<app-reactive-form-validation></app-reactive-form-validation>

<p>
<app-template-validation-21st-april></app-template-validation-21st-april>
</p>

<p>
<app-form-validation-reactive></app-form-validation-reactive>
</p>
<hr>
<p>
<app-form-validation-2></app-form-validation-2>
</p>
-->