<html>
<head>
<script src="./bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="myShop" ng-controller="MyController">

<p>
First Number : <input ng-model="a">
</p>

<p>
Second Number : <input ng-model="b">
</p>

<p>
<button ng-click="mysum()">Sum</button>
<button ng-click="mysubtract()">Subtract</button>
</p>
<p>
Sum is {{val1}}<br>

</p>

</body>
<script>
var app = angular.module('myShop',[]);
app.service('Calculator',function(){

this.add = function(t1,t2){
return (t1+t2)
}

this.subtract = function(t1,t2){
return (t1-t2)
}

this.multiply = function(t1,t2){
return (t1*t2)
}

})

app.controller('MyController',function($scope,Calculator){

$scope.mysum = function(){
var t1 = parseInt($scope.a);
var t2 = parseInt($scope.b);
var x = Calculator.add(t1,t2)
$scope.val1 = x;
}

$scope.mysubtract = function(){
alert('subtract')
}

});

</script>
</html>
