<html>
<head>
<script src="bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
<form name="frm">
<p>
A : <input name="a" ng-model="a">
</p>
<p>
B : <input ng-model="b">
</p>
<p>
C : <input ng-model="c">
</p>
<p>
The area is {{ar}}
</p>
<p>
<button ng-click="area()">Area</button>
</p>
</form>
</body>
<script>
var app = angular.module('myApp',[]);
app.service('Perimeter',function(){

this.peri = function(a,b,c){
return (a+b+c)/2;
}

});

app.service('Triangle',function(Perimeter){

this.triarea = function(a,b,c){
var s = Perimeter.peri(a,b,c);
return Math.sqrt(s*(s-a)*(s-b)*(s-c));
}

});


app.controller('myController',function($scope,Triangle){

$scope.area = function(){
$scope.ar = Triangle.triarea(parseFloat($scope.a),parseFloat($scope.b),parseFloat($scope.c));

}

});


</script>
</html>