<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js""></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>

</head>

<body ng-app="myApp" ng-controller="myController">
<div class="container">
	<div class="col-lg-12">
	first no:<input ng-model ="a" class="form-control">
	</div>
	<div class="col-lg-12">
	Second no:<input ng-model ="b" class="form-control">
	</div>
	<div class="col-lg-12">
	Third no:<input ng-model ="c" class="form-control">
	</div>
	<div class="col-lg-12">
	Area: <span ng-bind="d"></span>
	</div>
	<div class="col-lg-12">
	Perimeter: <span ng-bind="e"></span>
	</div>
<div class="col-lg-12">
<button class ="btn btn-primary" ng-click="calarea()">Area</button>
<button class ="btn btn-primary" ng-click="calperimeter()">Perimeter</button>
</div>
</div>

</body>
<script>
var app = angular.module('myApp',[]);
app.service('Area',function(){

this.sidearea=function(a,b,c)
{
return(0.5*(b*c))
}

});

app.service('Perimeter',function(){

this.sideperimeter=function(a,b,c)
{
return(a+b+c)
}

});

	app.controller('myController',function($scope,Area,Perimeter){

	$scope.calarea=function(){
	var a =parseInt($scope.a);
	var b =parseInt($scope.b);
	var c =parseInt($scope.c);
	$scope.d =Area.sidearea(a,b,c);
	
	}
	$scope.calperimeter=function(){
	var a =parseInt($scope.a);
	var b =parseInt($scope.b);
	var c =parseInt($scope.c);
	$scope.e =Perimeter.sideperimeter(a,b,c);
	}
});
</script>
</html>