<html>
	<head>
		<script src="bower_components/angular/angular.min.js"></script>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
	</head>
	<body ng-app="myApp" ng-controller="myController">
	<div class="container">
		<form name ="frm" nonvalidate>
		<div class="col-lg-12">
		First name :<input name ="fname" ng-model="fname" class="form-control" required ng-minlength ="3">
		<span ng-show ="frm.fname.$dirty && frm.fname.$error.required" style ="color:red;">Please enter first name</span>
		<span ng-show ="frm.fname.$dirty && frm.fname.$error.minlength" style ="color:red;">Minimum 3 char long</span>
		</div>
		<div class="col-lg-12">
		Last name :<input name ="lname" ng-model="lastname" class="form-control" required ng-minlength ="3">
		<span ng-show ="frm.lname.$dirty && frm.lname.$error.required" style ="color:red;">Please enter last name</span>
		<!--<span ng-show ="frm.lname.$dirty && frm.lname.$error.required" class="text-danger">Please enter last name</span>
		Address:<textarea rows="5"  col="20" name="add" ng-model="add" etc></textarea>
		
		Martial status :<input type="radio" name ="ms" value="y" ng-model="ms" required>Married --dont use form-control
		Martial status :<input type="radio" name ="ms" value="N" ng-model="ms" required> Not Married
		<span ng-show="frm.ms.$erroe.required class="text-danger">select martail status</span>
		
		state :<Select name="st" ng-model ="st" class=:form-control required>
		<option value="">Select state</option>
			<option value ="MP">Madhya pradesh</option>
		</select>
		<span ng-show ="frm.st.$error.required" class"text-danger">Please select state</span>
		-->
		<span ng-show ="frm.lname.$dirty && frm.lname.$error.minlength" style ="color:red;">Minimum 3 char long</span>
		</div>
		<div class="col-lg-12">
		Email :<input type="email" name="c" ng-model="yh" class="form-control" required ng-minlength ="6" ng-maxlength="20">
		<span ng-show ="frm.c.$dirty && frm.c.$error.required" style ="color:red;">Please enter a email Id</span>
		<span ng-show ="frm.c.$dirty && frm.c.$error.minlength" style ="color:red;">Minimum 6 char long</span>
		<span ng-show ="frm.c.$dirty && frm.c.$error.maxlength" style ="color:red;">Max 20 char long</span>
		<span ng-show ="frm.c.$dirty && frm.c.$error.email" style ="color:red;">Invalid email</span>
		</div>
		<div class="col-lg-12">
		Martial status:<input type ="radio" name="Mstatus" ng-model="d" class="form-control" required>
		</div>
		<div class="col-lg-12">
		State:<input type ="email" name="em" ng-model="c" class="form-control" required ng-minlength ="6" ng-maxlength="20">
		</div>
		<div class="col-lg-12">
			<button class="btn btn-primary" ng-disabled="frm.$invalid" ng-click="">submit</button>
		</div>
	</form>
	</div>
	</body>
	
	<script>
		var app= angular.module('myApp',[]);
		app.controller('myController',function($scope){
		
		});
	
	</script>
	
</html>