<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ABC Company</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Products</a></li>
        <li><a href="#">User</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
<div class="col-lg-12">
<!--<a href="/employee" class="btn btn-default">Employee</a>
<a href="/product" class="btn btn-default">Product</a>-->
<a routerLink="/pipe2" class="btn btn-default">Items</a>
<a routerLink="/pipe" class="btn btn-default">Product</a>
</div>

<div myColor>I am proud of it</div>

<input [(ngModel)]='value'>

<div *myCondition ="value">
  Structural directive works!!
</div>
<div class="col-lg-6">
<router-outlet></router-outlet>
</div>
