<html>
<head>
<script src="bower_components/angular/angular.min.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body ng-app="myApp" ng-controller="myController">
	<div class="container">
		<form name="frm" novalidate>
			<div class="col-md-12">
				Mobile Number: <input name="mno" ng-model="mno" class="form-control" required ng-pattern="/^[0-9]{1,10}$/">
				<p ng-show="frm.mno.$dirty && frm.mno.$error.pattern" class="text-danger">mobile number required</p>
			</div>
			<div class="col-md-12">
				character Only: <input name="cr" ng-model="cr" class="form-control" required ng-pattern="/^\D+$/">
				<p ng-show="frm.cr.$dirty && frm.cr.$error.pattern" class="text-danger">characters required</p>
			</div>
			<div class="col-md-12">
				Email ID: <input type="email" name="em" ng-model="b" class="form-control">
				<p ng-show="frm.em.$dirty && frm.em.$error.email" class="text-danger">invalid email</p>
			</div>
			<div class="col-md-12">
				Contact Number: <input type="number" name="con" ng-model="con" class="form-control" ng-pattern="/^\+?\d{2}[-]?\d{3}[-]?\d{5}$/">
				<p ng-show="frm.con.$dirty && frm.con.$error.pattern" class="text-danger">Contact number is invalid</p>
			</div>
			<div class="col-md-12">
				Number Only: <input name="addr" ng-model="addr" class="form-control" required ng-pattern="/^\d+$/">
				<p ng-show="frm.addr.$dirty && frm.addr.$error.pattern" class="text-danger">number only</p>				
			</div>
			<div class="col-md-12">
				Date: <input  name="mar" ng-model="mar" class="form-control" required ng-pattern="/^\d{4}-?\d{2}-?\d{2}$/">
				<p ng-show="frm.mar.$error.pattern" class="text-danger">invalid date</p>
			</div>
			
			<div class="col-md-12">
				Date: <input  name="dt" ng-model="dt" class="form-control" required ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/">
				<p ng-show="frm.dt.$error.pattern" class="text-danger">invalid date</p>
			</div>
			
			<div class="col-md-12">
				State <select name="stat" ng-model="stat" class="form-control" required>
					<option value="">Please select state</option>
					<option value="mh">Maharashtra</option>
					<option value="ka">Karnataka</option>
					<option value="ke">Kerla</option>
					<option value="ta">Tamilnadu</option>
				</select>
				<p ng-show="frm.stat.$error.required" class="text-danger">please select state</p>
			</div>
			<div class="col-md-12">
				<button class="btn" ng-disabled="frm.$invalid" ng-click="calculate()">Calculate</button>
			</div>
		</form>
		
	</div>
</body>
<script>
var app = angular.module('myApp',[]);

app.controller('myController',function($scope){
	
});
</script>
</html>