<html>
<head>
<script src="bower_components/angular/angular.min.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body ng-app="myApp" ng-controller="myController">
<div class="container">
First No <input ng-model="a" class="form-control"> 
Second No <input ng-model="b" class="form-control">
Result : <span ng-bind="c"></span>

<button class="btn btn-primary" ng-click="addNum()">Add</button>
</div>
</body>
<script>
var app = angular.module('myApp',[]);
app.service('calculator',function(){
this.add =function(a,b){
	return (a+b);
}

});
app.controller('myController',function($scope,calculator){

	$scope.addNum = function(){
		var a = parseInt($scope.a);
		var b = parseInt($scope.b);
		$scope.c = calculator.add(a,b);
	}
});
</script>
</html>