<html>
<head>
<script src="bower_components/angular/angular.min.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body ng-app="myApp" ng-controller="myController">
	<div class="container">
		first Side <input ng-model="a" class="form-control"> 
		Second Side <input ng-model="b" class="form-control">
		Third Side <input ng-model="c" class="form-control">
		Area : <span ng-bind="area"></span> <br/>
		Perimeter : <span ng-bind="peri"></span>
		<div class="col-lg-12">
		<button class="btn btn-primary" ng-click="calArea()">Area</button>
		<button class="btn btn-primary" ng-click="calPeri()">Perimeter</button>
		</div>
	</div>
</body>
<script>
var app = angular.module('myApp',[]);
app.service('triangleSupport', function(){
	this.sValue = function(a,b,c){
		return (a+b+c)/2;
	}
});
app.service('triangle',function(triangleSupport){
	this.sideArea = function(a,b,c){
		var s = triangleSupport.sValue(a,b,c);
		return Math.sqrt(s*(s-a)*(s-b)*(s-c));
	}
	this.sidePerimeter = function(a,b,c){
		return (a+b+c);
	}
});
app.controller('myController',function($scope,triangle){

	$scope.calArea = function(){
		var a = parseFloat($scope.a);
		var b = parseFloat($scope.b);
		var c = parseFloat($scope.c);
		$scope.area = triangle.sideArea(a,b,c);
	}
	$scope.calPeri = function(){
		var a = parseInt($scope.a);
		var b = parseInt($scope.b);
		var c = parseInt($scope.c);
		$scope.peri = triangle.sidePerimeter(a,b,c);
	}
});
</script>
</html>