<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
<p>
First Number <input ng-model="a">
</p>
<p>
Second Number <input ng-model="b">
</p>
<p>
The sum is {{sum}}
</p>
<p>
<button ng-click="add()">Add</button>
</p>
</body>
<script>
var app = angular.module('myApp',[]);
app.service('Calculator',function(){

this.addNumbers = function(a,b){
return parseInt(a)+parseInt(b)
}


});



app.controller('myController',function($scope,Calculator){
$scope.add = function(){
$scope.sum = Calculator.addNumbers($scope.a,$scope.b);
}

});
</script>
</html>