<html>
	<body bgcolor="skyblue">
		<table bgcolor="white" align="center">
			<caption> <h2> User list</h2></caption>
			
			<tr>
				<th>Sl no </th>
				<th>Full Name </th>
				<th>Mobile No </th>
				<th>City </th>
				<th>Pin code </th>
			</tr>
			
			<tr bgcolor='grey'>
				<td>01 </td>
				<td>xyz </td>
				<td>99999999 </td>
				<td>Bangalore </td>
				<td>560072 </td>
			</tr>
			
			<tr bgcolor='orange'>
				<td>01 </td>
				<td>xyz </td>
				<td>99999999 </td>
				<td>Bangalore </td>
				<td>560072 </td>
			</tr>
			
			<tr bgcolor='grey'>
				<td>01 </td>
				<td>xyz </td>
				<td>99999999 </td>
				<td>Bangalore </td>
				<td>560072 </td>
			</tr>
		<hr color='red' size='3'> 
		
		<table align="center" bgcolor="orange"cellspacing>
		<caption><h2>User details</h2></caption>
		<tr>
			<th>Full Name </th>
			<td>Mobile No.</td>
		</tr>
		
		<tr>
			<th>Arun</th>
			<td>88888888 </td>
		</tr>
		
		<tr>
			<th> Swij</th>
			<td> 544532585</td>
		</tr>
			
		
		</table>
		</table>
	
	</body>
</html>