<html>
	<body>
		<h1> OL (ORDEREDLIST EXAMPLE)</h1>
		<ol type="1">
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			</ol>
			
			
			<hr color='red' size='1'>
		<ol type="A">
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			</ol>
			<hr color='red' size='1'>
		<ol type="a">
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			</ol>
			<hr color='red' size='1'>
		<ol type="I">
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			</ol>
			
		<h1> UL (UNORDEREDLIST EXAMPLE)</h1>
		<ul type="square">
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			</ul>
			
		<ul type="disc">
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			</ul>
			
		<ul type="circle">
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			<li> Mango </li>
			</ul>
			
			
	<dl>
			<dt> This is new one</dt> <!--defnition title-->
			<dd>This is the definition of article 1</dd> <!--defnition details-->
			
				<dt> This is new one</dt> <!--defnition title-->
			<dd>This is the definition of article 1</dd> <!--defnition details-->
			
				<dt> This is new one</dt> <!--defnition title-->
			<dd>This is the definition of article 1</dd> <!--defnition details-->
	</dl>
	
	<h1> Nested OL/UL</h1>
		<ol>
			<li>Clothes</li>
			<li>Books
				<ul>
					<li>PHP BOOK</li>
					<li>JAVA BOOK</li>
					<li>CSS BOOK</li>
				 
				</ul>
			</li>
				<li>MCA</li>
				<li>BCA</li>
	
		</ol>
			
			
		
	</body>
</html>