<html>
<head>
<script src="bower_components/angular/angular.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="myController">
Firstname : <input ng-model="firstName">
{{firstName}}
<span ng-bind="firstName" style="color:red;"></span>
<br>
Lastname : <input ng-model="lastName">
{{lastName}}
<br>
<button ng-click="show()">Show</button>
</body>
<script>
var app = angular.module('myApp',[]);
app.controller('myController',function($scope){

$scope.firstName = 'mohan';

$scope.show = function(){
console.log('first name is '+$scope.firstName);
console.log('Last name is '+$scope.lastName);
}
});
</script>
</html>